.contactPopup .contactPopup-heading{
    z-index: +1;
}
.contactPopup .contactPopup-heading img {
    height: 445px;
    object-fit: cover;
}

.contactPopup .contactPopup-form { 
    border-radius: 17px;
    z-index: +1;
}

.contactPopup .contactPopup-form input[type="text"],
input[type="email"],
input[type="tel"] {
    font-family: CormorantGaramond-Medium;
    letter-spacing: 1px;
    font-size: 18px;
    border: 1px solid #C2A794;
    color: #000;
}

.contactPopup ::placeholder {
    font-family: CormorantGaramond-Medium;
    letter-spacing: 1px;
    font-size: 16px;
    color: #000;
}

.contactPopup input[type="submit"] {
    background: #C2A794;
    color: #fff;
    font-family: CormorantGaramond-Medium;
    font-weight: 500;
}

@media (max-width:1615px) {
    .contactPopup .contactPopup-heading img {
        height: 400px;
    }

}

@media (max-width:700px) {
    .contactPopup .contactPopup-heading img {
        height: 350px;
    }

    .contactPopup ::placeholder {
        font-size: 13px;
        color: #000;
    }

}

#contactPopup {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#contactPopup.show {
    opacity: 1;
    pointer-events: all;
    background: #ebe3e0e0;
    backdrop-filter: blur(15px);
    z-index: +2222;
}

#contactPopup.show .popup-modal {
    transform: scale(1) translateY(0);
}

.contactPopup .popup-modal {
    transform: scale(0.92) translateY(20px);
    transition: transform 0.5s cubic-bezier(.22, .68, 0, 1.2);
}
.contactPopup .popup-modal::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 84%;
  background-image: url(../images/contact/22-logo.webp);
  z-index: 0;
}
.close-x {
    width: 42px;
    height: 42px;
    top: 10px;
    right: 10px;
}

.close-x:hover svg path {
    stroke: #2B2C40;
}

#timerBar {
    animation: shrink 4s linear forwards;
    transform-origin: left;
}

@keyframes shrink {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}